// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//material icons
@import "~@mdi/font/css/materialdesignicons.css";
// Ensure you are using css-loader

//vuetify
@import "~vuetify/dist/vuetify.min.css";

.fade-enter-active,
.fade-leave-active {
    transition: all .3s ease;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

    {
    opacity: 0
}

#nprogress .bar {
    background: #29d;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 10px !important;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50% !important;
    left: 47% !important;

}


#nprogress .spinner-icon {
    width: 100px !important;
    height: 100px !important;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}
